/*side imgs = 102/1024px*/

body {
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  color: #231901;
  font-size: 150%;
}

select {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 2;
}

.four {
  grid-column: 2;
  grid-row: 3;
}

.five {
  grid-column: 3;
  grid-row: 3;
}

.six {
  grid-column: 1 / 4;
  grid-row: 4;
}

.footer {
  grid-column: 1/ 4;
  grid-row: 4;
}

.left-img {
  float: left;
  position: relative;
  opacity: 0.8;
  z-index: -1;
}

.right-img {
  float: right;
  position: relative;
  opacity: 0.8;
  z-index: -1;
}

.ocean, .forest, .mtn {
  display: none;
}

#hood, #cannon, #multnomah, #mind {
  display: none;
}

.bg-blue {
  background: linear-gradient(#4775ca, #89c1a8);
}

.bg-green {
  background: linear-gradient( #196f3d, #a9dfbf);
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 500%;
}

.subtitle {
  font-family: "Monserrat", sans-serif;
  text-decoration-style: double;
  font-size: 175%;
}

.question {
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  margin-bottom: 5px;
}

#header {
  margin-top: 3%;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: auto;
  position: relative;
  line-height: 0.9;
}

img#tree-icon {
  float: left;
  width: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

#answers {
  display: block;
  width: 100%;
}
