body {
  background: linear-gradient(#4775ca, #89c1a8);
  line-height: 1.6;
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px; */
  font-family: "Lato", sans-serif;
  margin-left: 5%;
  margin-right: auto;
  color: #231901;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 500%;
}

.subtitle {
  font-family: "Monserrat", sans-serif;
  text-decoration-style: double;
}

img#height-lake {
  float: right;
  position: relative;
  z-index: -1;
}

img#tree-icon {
  float: left;
  width: 60px;
  margin-top: 25px;
}

form#woods-date {
  width: 100%;
}

/* img#mtn-pano {
  width: 100%;
  height: auto;
} */
